## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [74]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [75]:
contador=0
sample_list_1=[]
while contador <80:
    item=(random.randint(0,100))
    if item not in sample_list_1:
        sample_list_1.append(item)
        contador+=1

print(sample_list_1)

[84, 75, 69, 20, 8, 11, 91, 14, 37, 99, 21, 77, 16, 24, 86, 36, 96, 59, 53, 35, 81, 19, 100, 71, 70, 61, 57, 73, 29, 92, 83, 89, 62, 52, 94, 41, 43, 46, 55, 7, 47, 4, 76, 95, 56, 48, 38, 45, 78, 17, 90, 82, 98, 15, 50, 80, 44, 58, 1, 42, 26, 79, 87, 49, 22, 12, 67, 39, 66, 65, 60, 10, 32, 2, 34, 28, 85, 6, 72, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [76]:
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [77]:
sample_list_2=[]
for item in range(80):
    numero=random.randint(0,100)
    sample_list_2.append(numero)
print(sample_list_2)
print(len(sample_list_2))

[34, 30, 3, 60, 58, 18, 100, 44, 86, 34, 65, 15, 68, 44, 67, 48, 98, 18, 15, 5, 4, 36, 73, 82, 82, 67, 16, 18, 27, 6, 75, 42, 98, 91, 48, 5, 63, 37, 20, 87, 91, 44, 70, 62, 22, 72, 65, 23, 6, 64, 82, 31, 94, 33, 78, 6, 24, 54, 82, 83, 78, 16, 98, 88, 24, 6, 87, 15, 0, 32, 79, 54, 61, 91, 16, 45, 1, 91, 8, 66]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [78]:
set2=set(sample_list_2)
print(len(set2))
#The len is NOT 80 because we accept repited numbers in the list

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [79]:
list_set3=[]
for item in set1:
    if item not in set2:
        list_set3.append(item)
print(list_set3)
len(list_set3)
set3=set(list_set3)
print(set3)

[2, 7, 10, 11, 12, 14, 17, 19, 21, 26, 28, 29, 35, 38, 39, 41, 43, 46, 47, 49, 50, 52, 53, 55, 56, 57, 59, 69, 71, 76, 77, 80, 81, 84, 85, 89, 90, 92, 95, 96, 99]
{2, 7, 10, 11, 12, 14, 17, 19, 21, 26, 28, 29, 35, 38, 39, 41, 43, 46, 47, 49, 50, 52, 53, 55, 56, 57, 59, 69, 71, 76, 77, 80, 81, 84, 85, 89, 90, 92, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [80]:
list_set4=[]
for item in set2:
    if item not in set1:
        list_set4.append(item)
print(list_set4)
len(list_set4)
set4=set(list_set4)
print(set4)

[0, 3, 5, 18, 23, 27, 30, 31, 54, 63, 64, 68, 88]
{0, 64, 3, 68, 5, 18, 54, 23, 88, 27, 63, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [81]:
list_set5=[]
for item in set1:
    if item in set2:
        list_set5.append(item)
print(list_set5)
len(list_set5)
set5=set(list_set5)
print(set5)

[1, 4, 6, 8, 15, 16, 20, 22, 24, 32, 33, 34, 36, 37, 42, 44, 45, 48, 58, 60, 61, 62, 65, 66, 67, 70, 72, 73, 75, 78, 79, 82, 83, 86, 87, 91, 94, 98, 100]
{1, 4, 6, 8, 15, 16, 20, 22, 24, 32, 33, 34, 36, 37, 42, 44, 45, 48, 58, 60, 61, 62, 65, 66, 67, 70, 72, 73, 75, 78, 79, 82, 83, 86, 87, 91, 94, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [82]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
41
13
39

#### Create an empty set called `set6`.

In [83]:
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [84]:
set6.update(set3,set5)
print(set6)

{1, 2, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 24, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [85]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [86]:
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
set_union=set.union(set3,set4,set5)
print(set_union)
set_union2=set.union(set1,set2)
print(set_union2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [90]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [91]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    set1.discard(item)
print(set1)

{2, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 20, 22, 24, 26, 28, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 65, 66, 67, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 94, 95, 96, 98, 100}